.recipeSingle {
	border: 2px lightgrey solid;
	margin: 10px 5px;
	padding: 10px;
	text-align: center;
}

.ingredientsList {
	list-style-type: none;
}

.rImg {
	float: right;
}

.tag {
	color: white;
	font-weight: 1.5em;
	border-radius: 5px;
	background-color: #5bc0de;
	position: relative;
	float: left;
	padding: 8px;
	margin: 3px; 
}

.deleteTag {
	margin-left: 3px;
}

.clearTags {
	border: none;
	background-color: #999999;
}

form.submitted .ng-invalid {
    border: 1px solid red;
}