<div class="recipes">
	<div class="container">
		<h3 class="row">Add a Recipe:</h3>

		<form ng-class="{'submitted': submitted}" class="row form-group recipeAdder" name="rForm">
			<div class="form-inline">
				<!--<span ng-show="rForm.rName.$error.required">*</span>-->
				<input ng-model="newRecipe.name" name="rName" class="form-control" type="text" placeholder="Recipe Name" required>
			</div>
				
			<br>
			
			<div ng-repeat="ing in iCounter" class="form-inline ingredientFields">
				<!--<span ng-show="rForm.rIng.$error.required && rForm.rAmt.$error.required" ng-if="$first">*</span>-->
				<input ng-model="ing.i" name="rIng" class="form-control" type="text" placeholder="Ingredient" ng-required="$first">
				<input ng-model="ing.a" name="rAmt" class="form-control" type="text" placeholder="Amount" ng-required="$first">
				<button ng-click="addIngredientField()" ng-if="$last" class="btn btn-info">+</button>	
				<button ng-click="deleteIngredientField()" ng-if="$last && $index > 0" class="btn btn-info">-</button>
				<br><br>			
			</div>
			
			<div ng-repeat="dir in dCounter" class="form-group directionFields">
				<!--<span ng-show="rForm.rDir.$error.required" ng-if="$first">*</span>-->
				<textarea ng-model="dir.d"" name="rDir" class="form-control" type="text" placeholder="Directions" rows="3" ng-required="$first"></textarea>
				<br ng-if="$last">
				<button ng-click="addDirectionField()" ng-if="$last" class="btn btn-info">+</button>
				<button ng-click="deleteDirectionField()" ng-if="$last && $index > 0" class="btn btn-info">-</button>
			</div>
			
			<br>
			<input type="submit" ng-click="submitted= true; addRecipe()" class="btn btn-info" value="Add Recipe"></input>
		</form>

		
		<div class="row recipeContainer">
			<div ng-repeat="r in recipes | orderBy: 'name'" class="col-md-3 recipeSingle">
				 <button class="btn close" data-ng-click="deleteRecipe(r.id)">&times;</button>
				 <a href="#/recipes/{{ r.id }}">
				 	<h4 class="rName"> {{ r.name }} </h4>
				 	<img ng-src="{{ r.image }}" class="img-rounded" width="200px">
				 </a>
			</div>
		</div>
	</div>	

</div>